{% extends 'base.html' %} {% block head %}
<title>Land Acknowledger</title>
{% endblock %} {% block body %}
<main>
  <h1>Info</h1>
  <div
    class="container justify-content-center align-items-center"
    style="height: 100vh"
  >
    <ul>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseHealthDisparities"
          role="button"
          aria-expanded="false"
          aria-controls="collapseHealthDisparities"
        >
          Health Disparities
        </a>
        <div class="collapse" id="collapseHealthDisparities">
          <div class="card card-body">
            <p>
              Indigenous children have higher rates of respiratory issues and
              infectious diseases. This is partly due to substandard housing and
              inadequate, overcrowded living conditions.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseEducationalAttainment"
          role="button"
          aria-expanded="false"
          aria-controls="collapseEducationalAttainment"
        >
          Educational Attainment
        </a>
        <div class="collapse" id="collapseEducationalAttainment">
          <div class="card card-body">
            <p>
              Canada has high educational attainment but Indigenous students
              graduate less. Only 48% students of reserves graduate from high
              school compared to 75% for those off-reserve.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseHousingConditions"
          role="button"
          aria-expanded="false"
          aria-controls="collapseHousingConditions"
        >
          Housing Conditions
        </a>
        <div class="collapse" id="collapseHousingConditions">
          <div class="card card-body">
            <p>
              About 16.4% of Indigenous peoples live in homes requiring major
              repairs. This is almost three times higher than for people with
              non-Indigenous background. 17.1% of Indigenous households were
              crowded.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseIncomeLevels"
          role="button"
          aria-expanded="false"
          aria-controls="collapseIncomeLevels"
        >
          Income Levels
        </a>
        <div class="collapse" id="collapseIncomeLevels">
          <div class="card card-body">
            <p>
              Indigenous Canadians can earn only about 70 cents for each dollar
              earned by a non-Indigenous Canadian. In cities, Indigenous workers
              can earn 34% less than non-Indigenous workers doing similar jobs.
              On reserves, non-Indigenous workers can make up to 88% more than
              Indigenous workers.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseEmploymentRates"
          role="button"
          aria-expanded="false"
          aria-controls="collapseEmploymentRates"
        >
          Employment/Unemployment Rates
        </a>
        <div class="collapse" id="collapseEmploymentRates">
          <div class="card card-body">
            <p>
              Higher unemployment among Indigenous peoples is partially
              attributed to the generally lower levels of educational
              attainment. Some of the barriers include cultural differences and
              discrimination, but also poverty, lack of access to
              transportation, and inability to find childcare.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseIncarcerationRates"
          role="button"
          aria-expanded="false"
          aria-controls="collapseIncarcerationRates"
        >
          Incarceration Rates
        </a>
        <div class="collapse" id="collapseIncarcerationRates">
          <div class="card card-body">
            <p>
              Indigenous people make up 32% of all prisoners but comprise about
              5% of all Canadians. Indigenous women represent nearly half of all
              women incarcerated in federal prisons.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapsePrematureDeaths"
          role="button"
          aria-expanded="false"
          aria-controls="collapsePrematureDeaths"
        >
          Premature Deaths & Unintentional Injuries
        </a>
        <div class="collapse" id="collapsePrematureDeaths">
          <div class="card card-body">
            <p>
              Indigenous children and youth experience a higher rate of
              unintentional injuries when compared to non-Indigenous youth. Most
              isolated reserves lack health human resources to rehabilitate the
              injured.
            </p>
          </div>
        </div>
      </li>
      <li>
        <a
          class="btn btn-primary"
          data-bs-toggle="collapse"
          href="#collapseSuicideRates"
          role="button"
          aria-expanded="false"
          aria-controls="collapseSuicideRates"
        >
          Suicide Rates
        </a>
        <div class="collapse" id="collapseSuicideRates">
          <div class="card card-body">
            <p>
              Canadian Indigenous communities have some of the highest recorded
              suicide rates worldwide. Suicide is one of the highest causes of
              death for First Nations youth and adults. Inuit suicide rates are
              nine times the national average; First Nations rates are three
              times higher; Métis rates are twice the national average.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</main>
<footer></footer>
{% endblock %}
